

button > .material-icons {
    background-color: #1976d2;
    color: white;
}

form, .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.flex-row .cart-item {
    margin-right: 11px;
}

form .form-group {
    margin-right: 13px;
}

form input, form button {
    border: 1px solid #1976d2;
    border-radius: 3px;
    height: 30px;
}

form input {
    min-width: 250px;
}

.card {
    margin-right: 15px;
    background: #eef4fd;
    border: 1px solid #cdd3f5;
    border-radius: 7px;
    min-width: 275px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 30px;

}

.empty-response {
    display: flex;
    flex-direction: row;
    justify-content: center;
}