<h2><strong>Search The Best-Matched Restaurant</strong></h2>

<div class="row">
    <form class="col-md-12">
        <div class="form-group">
            <label>Search by Restaurant Name</label>
            <input name="input__restaurant-name"
                   [ngModel]="searchBestRestaurantsRequestDTO.restaurantName"
                   (ngModelChange)="searchBestRestaurantsRequestDTO.restaurantName = $event"
                   [type]="'text'"
                   [placeholder]="'Restaurant Name'"
                   [maxlength]='50'/>
        </div>
        <div class="form-group">
            <label>Search by Customer Rating</label>
            <input name="input__customer-rating"
                   [ngModel]="searchBestRestaurantsRequestDTO.customerRating"
                   (ngModelChange)="searchBestRestaurantsRequestDTO.customerRating = $event"
                   [type]="'number'"
                   [placeholder]="'Customer Rating'"
                   [maxlength]='50'/>
        </div>
        <div class="form-group">
            <label>Search by Distance</label>
            <input name="input__distance"
                   [ngModel]="searchBestRestaurantsRequestDTO.distance"
                   (ngModelChange)="searchBestRestaurantsRequestDTO.distance = $event"
                   [type]="'number'"
                   [placeholder]="'Distance'"
                   [maxlength]='50'/>
        </div>
        <div class="form-group">
            <label>Search by Price</label>
            <input name="input__price"
                   [ngModel]="searchBestRestaurantsRequestDTO.price"
                   (ngModelChange)="searchBestRestaurantsRequestDTO.price = $event"
                   [type]="'number'"
                   [placeholder]="'Price'"
                   [maxlength]='50'/>
        </div>
        <div class="form-group">
            <label>Search by Cuisine</label>
            <input name="input__cuisine"
                   [ngModel]="searchBestRestaurantsRequestDTO.cuisine"
                   (ngModelChange)="searchBestRestaurantsRequestDTO.cuisine = $event"
                   [type]="'text'"
                   [placeholder]="'Cuisine'"
                   [maxlength]='50'/>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" (click)="findBestMatchedRestaurants()"><em class="material-icons">manage_search</em> Search</button>
        </div>

    </form>
</div>

<h4 *ngIf="this.restaurants.length > 0">Top 5 Restaurants</h4>

<div *ngFor="let restaurant of restaurants">
    <h3>
        <a [title]="restaurant.name + ' details'">
            {{ restaurant.name }}
        </a>
    </h3>

    <p *ngIf="restaurant.distance">
        <strong>Distance:</strong> {{ restaurant.distance }}
    </p>

    <p *ngIf="restaurant.customerRating">
        <strong>Customer Rating:</strong> {{ restaurant.customerRating }}
    </p>

    <p *ngIf="restaurant.price">
        <strong>Price:</strong> {{ restaurant.price }}
    </p>

    <p *ngIf="restaurant.cuisineName">
        <strong>Cuisine:</strong> {{ restaurant.cuisineName }}
    </p>

</div>